body {
  font-family: 'Roboto', sans-serif;
}

.streamlist-container {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center; /* Center the form and movie list */
}

form {
  margin-top: 20px;
  display: flex;
  justify-content: center; /* Center the input and button */
}

input {
  padding: 10px;
  width: 300px;
  font-size: 16px;
  margin-right: 10px;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
}

button:hover {
  background-color: #0056b3;
}

/* Ensure the movie list is centered and has a max width */
.movie-list {
  margin-top: 20px;
  width: 100%;
  max-width: 500px; /* Limit the width of the movie list */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.movie-list ul {
    list-style-type: none;
    padding: 0;
    display: block;
}

.movie-list li {
  background-color: #e0f7fa;
  border: 2px solid #009688;
  margin: 10px 0;
  padding: 15px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  width: justify;
  justify-content: space-between; /* Aligns buttons to the right */
}

.movie-title {
  display: block;
  font-size: 1.2rem;
  margin-right: 10px;
}

.remove-btn, .edit-btn, .complete-btn {
  background-color: #ff4d4d;
  color: white;
  border: none;
  padding: 8px 12px;
  cursor: pointer;
  border-radius: 5px;
  margin-left: 10px;
}

.edit-btn {
  background-color: #ffc107;
}

.complete-btn {
  background-color: #28a745;
}

.remove-btn:hover, .edit-btn:hover, .complete-btn:hover {
  opacity: 0.8;
}

.completed .movie-title {
  text-decoration: line-through;
  color: #888;
}
